* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url(./images/background.jpg); 
    background-size: cover;
}

.keys {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key {
    display: flex;
    flex-direction: column;
    border: .3rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: ivory;
    background: rgba(0,0,0,0.6);    
    
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

kbd {
    font-size: 4rem;
}

.sound {

    font-size: 1rem;
    color: #ffc600;
    text-transform: uppercase;
}

@media (max-width: 1000px) {

    .keys {
       flex-wrap: wrap;
    }
}